<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="eceni-core" value="https://nuget.pkg.github.com/dazzknowles/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<eceni-core>
			<add key="Username" value="dazzknowles" />
			<add key="ClearTextPassword" value="%ECENI_NUGET_PAT%" />
		</eceni-core>
	</packageSourceCredentials>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="eceni-core">
			<package pattern="Eceni.Core.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
